/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

atividade-1, atividade-2, atividade-3 {
    width: 100%;
}
  